@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
}

body {
	color: white;
	background-color: #1b1e2b;
	font-family: "Source Code Pro", "Roboto Mono", monospace;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 95vh;
	transition: 0.25s;
}

.header {
	width: 80%;
	padding-bottom: 40px;
}

.score-container {
	background-color: #161822;
	border-radius: 10px;
	width: 250px;
	padding: 15px;
	margin: 0px;
}

#scorePlayer1 {
	text-transform: uppercase;
}

.areaPlayer1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 40%;
}

#rollText1 {
	font-size: 22px;
	font-weight: 600;
	font-family: "Source Code Pro", "Roboto Mono", monospace;
}

.image-container {
	display: none;
	background-color: #13151e;
	border-radius: 90px;
	padding: 15px;
	width: 250px;
}

#imagePlayer1 {
	width: 100%;
	height: auto;
}

.buttons {
	display: flex;
	flex-direction: column;
	width: 250px;
}

#playAgain {
	display: none;
}

button {
	color: white;
	background-color: #161822;
	font-size: 18px;
	font-weight: 600;
	font-family: "Source Code Pro", "Roboto Mono", monospace;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: none;
	border-radius: 10px;
	padding: 20px 30px;
	cursor: pointer;
}

button:hover {
	background-color: #10121a;
}